/* This file is inserted into all SASS stylesheets by means of the Vue config. */

// custom colours
$blue: #007fad;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #eb6672;
$orange: #fd7e14;
$yellow: #ffbd39;
$green: #11a53c;
$teal: #20c997;
$cyan: #17a2b8;

$fd-primary: #007fad;
$fd-primary-dark: #004f6b;
$fd-primary-black: #002533;
$fd-primary-white: #e5f2f7;

$primary: $blue;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$dark: #4f4f4f;
// END custom colors
